@import "tailwindcss";

@layer base {
  :root {
    --background: #0a0d14;
    --foreground: #f0e6cf;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-lora), serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cinzel), serif;
  }
}
